/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIÁVEIS CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Cores =====*/
  --first-color: #ce6ae2;
  --first-color-dark: #5773c1;
  --first-color-darken: #031BB8;
  --white-color: #FCF8F8;
  
  /*===== Fonte =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  --medium-font-size: 3rem;
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/*===== NAVEGAÇÃO =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
  color: var(--white-color);
}

.nav__link:hover{
  color: var(--first-color-dark);
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== MOSTRAR MENU ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  background-color: var(--first-color);
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home__img img{
  position: absolute;
  top: 0;
  left: 0;
}

.home__data{
  color: var(--white-color);
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2.5rem;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover{
  background-color: var(--first-color-darken);
}

.ded{
  background-color: var(--first-color-dark);
  overflow: hidden;
}

.ded__data{
  color: var(--white-color);
}

.ded__description{
  margin-bottom: 2.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.ded__title{
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: var(--medium-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.tor{
  background-color: black;
  overflow: hidden;
}

.tor__data{
  color: var(--white-color);
}

.tor__description{
  margin-bottom: 2.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.tor__title{
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: var(--medium-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.ctl{
  background-color: var(--first-color-dark);
  overflow: hidden;
}

.ctl__data{
  color: var(--white-color);
}

.ctl__description{
  margin-bottom: 2.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.ctl__title{
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: var(--medium-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.cpunk{
  background-color: var(--first-color);
  overflow: hidden;
}

.cpunk__data{
  color: black;
}

.cpunk__description{
  margin-bottom: 2.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.cpunk__title{
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: var(--medium-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.contato{
  background-color: black;
  overflow: hidden;
}

.contato__data{
  color: var(--white-color);
}

.contato__description{
  margin-bottom: 2.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.contato__title{
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: var(--medium-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}


/* ===== QUERIES =====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list{
    display: flex;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 375px;
    height: 289px;
  }

  .home__img img{
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img{
    width: 604px;
    height: 466px;
  }
}


/* ===== SLIDES =====*/

.mySlides {display: none;}

/* container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* esmaecer */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* ===== FORMULÁRIO =====*/

input[type=text], select, textarea {
  width: 60%;
  margin-left: 4rem;
  padding:10px;
  border-radius:10px;
  border: 1px solid #ccc;
  resize: vertical;
  flex-grow:1;
  box-sizing:border-box;
}

input[type=submit] {
  background-color: #6666cc;
  color: white;
  padding: 12px 20px;
  margin-right: 5rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  float: right;
  width: 20%;
}

input[type=submit]:hover {
  background-color: #15155a;
}

.col-25 {
  float: left;
  width: 0%;
  margin-left: 0.5rem;
}

.col-75 {
  float: right;
  width: 100%;
  margin-left: 4rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-left: 4rem;
}

form h2{
  margin-left: 4rem;
}

form h4{
  margin-left: 4rem;
  color: var(--first-color);
}